<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="tv" class="polymorphism.LgTV" init-method="initMethod" destroy-method="destroyMethod">
		<constructor-arg index="0" ref="elac"></constructor-arg>	<!-- 이 시점에 객체가 생성되므로 ElacSpeaker 객체의 lazy-init이 실행된다. -->
		<constructor-arg index="1" value="3000000"></constructor-arg> <!-- 이 argument는 객체가 아니므로 그냥 값만 전달한다. 위는 ref가 elac 객체를 생성해서 argument로 넣는 것과 구분해야한다. -->
	</bean>
	<bean id="secondTv" class="polymorphism.SamsungTV" init-method="initMethod" destroy-method="destroyMethod" lazy-init="true"></bean>
	
	<bean id="elac" class="polymorphism.ElacSpeaker" lazy-init="true"></bean>
</beans>
